.container {
  max-width: 600px;
  margin: auto;
}

.form-control {
  margin-bottom: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
